body {
  font-family: Helvetica, sans-serif;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.box-form .overlay,
.right {
  width: 50%;
  display: inline-block;
  position: relative;
  font-family: Helvetica, sans-serif;
}

.box-form {
  width: 100%;
  background: #ffffff;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  height: 95vh;
}
a {
  text-decoration: none;
}

.box-form .left {
  width: 100%;
}
.box-form .left .overlay {
  width: 100%;
}

.box-form .left .overlay h1 {
  font-size: 6vw;
}
.box-form .right .inputs > * {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.box-form .right .inputs input {
  margin-bottom: 1.2em;
}

.box-form .right input {
  display: block;
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ba1313;
}
@media screen and (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
    height: auto;
  }
}
.box-form div {
  height: auto;
}

.box-form .left .overlay {
  background-color: #ba1313;

  color: white;
  padding: 30px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
.box-form .left .overlay h1 {
  line-height: 1;
  font-weight: 900;
  margin-top: 2vh;
  margin-bottom: 0vh;
}

.box-form .right {
  padding-left: 50px;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding-top: 5vh;
}

.box-form .right h5 {
  font-size: 2vmax;
  line-height: 0;
  text-align: center;
}
.box-form .right p {
  font-size: 2vh;
  color: #a0a3ab;
}
.box-form .right .inputs {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.box-form .right input {
  width: 70%;
}
label {
  text-align: left;
}
label {
  color: #ba1313;
}
.box-form .right .inputs > * {
  width: 100%;
}

.box-form .right button {
  position: absolute;
  margin-top: 2em;
  right: 100px;
  color: #fff;
  font-size: 16px;
  padding: 12px 35px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px #414141;
  background-color: #ba1313;
}

hr {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 3px;
}
.icon,
ul {
  list-style: none;
  margin-top: 100px;
  margin-left: -40px;
}

.icon a {
  display: inline;
  float: left;
}

.fa-brands,
.fa-solid {
  padding: 10px;
  color: #414141;
}

@media screen and (max-width: 550px) {
  button {
    width: 80%;
    margin: 20px auto;
    left: 40px;
  }
}
